body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Almarai', sans-serif;
}


.loading-page{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}
